@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@10&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unna&display=swap');

$topics-font: 'Unna', cursive;
$sub-topics-font: 'Raleway', sans-serif;
$body-font: 'Inter', sans-serif;