<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %> 
</head>
<body>
    <%- include('partials/navbar') %> 
    <h1>change your password</h1>
    <form action="/changed" method="post">
        <label for="first_name">enter first name</label>:</label>
        <input type="text" name="first_name" class="first_name" autocomplete="off">
        <br>
        <br>
        <label for="last_name">enter last name:</label>
        <input type="text" name="last_name" class="last_name" autocomplete="off">
        <br>
        <br>
        <label for="new_password">enter new password:</label>
        <input type="password" name="new_password" class="new_password" autocomplete="off"/>
        <br>
        <br>
        <label for="new_ver_password">enter new password:</label>
        <input type="password" name="new_ver_password" class="new_password" autocomplete="off"/>
        <br>
        <br>
        <button>submit<r/button>
    </form>
    <%- include('partials/background-shapes/rectangle1') %> 
    <%- include('partials/background-shapes/rectangle2') %> 
</body>
</html>