<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %> 
</head>
<body>
    <div class="centered-div">
        <h1>connect to StoryVibe</h1>
        <a href="/home/login"><input type="button" class="btn btn-login" value="login"></a>
        <a href="/register"><input type="button" class="btn btn-login" value="register"></a>
        <a href="/admin-connect"><input type="button" class="btn btn-login" value="ADMIN"></a>
    </div>
    <%- include('partials/background-shapes/rectangle1') %> 
    <%- include('partials/background-shapes/rectangle2') %> 
</body>
</html>