<p class="paragraph first-home-para romance">
    this is the fantasy section.. Go on to an <b>adventure! explore</b> your characters and their world. read them going on a pleasant situation that you enjoy thinking about but is unlikely to happen in real life..
    <br>
    what is fantasy..?
    <br>
    the power or process of creating especially unrealistic or improbable mental images in response to psychological need an object of fantasy also : a mental image or a series of mental images (such as a daydream) so created sexual fantasies.
</p>
