<p class="paragraph first-home-para">
        First, what is 'StoryVibe' exactly?
        <br>
        Well, StoryVibe is meant to be the hand and the eyes of the reader <b>or</b> the writer.
        <br>
        this place is totally safe for you, the users. we will do the best we can to improve your reading and writing experience.
        <br>
        feel free to write as many stories as you like.
        <br>
        feel free to read as many stories as you like.
        <br>
        we are here for you, <b>Team StoryVibe</b>.
</p>