<p class="paragraph second-home-para">
    in the future, StoryVibe will be full of new features, for example:
    <br>
    <b>1.</b> StoryVibe could be downloaded either on android, IOS and even mac or windows.
    <br>
    <b>2.</b> StoryVibe will have the functionality to play music based on the writer decision and even change it self on different situations.
    <br>
    <b>3.</b> we will add more and more generes. There will be competitions of the most viewd story, genere or even the best part of a story.
    <br>
    <b>4.</b> StoryVibe will have the option to write and edit stories for free!
</p>