<p class="paragraph third-home-para">
    the idea of StoryVibe came from two big apps, wattpad and spotify. 
    <br>
    I was reading a book on wattpad while listening to Lo-Fi on spotify and i thought like: "man, this is so satisfying.. I wish every one could feel like that."
    <br>
    and BAM! the Idea has came.
    <br>
    I want to thank spotify and wattpad for the inspiration, you will always be the best apps for chilling time.
</p>