<p class="paragraph first-home-para horror">
    this is the horror section.. here you can find stories that may be too scary for those who think too much.. without even notice you, you can experience your brein and let some feeling you didn't know you had to come out. <b>be careful.</b>
    <br>
    what is Horror..?
    <br>
    : a very strong feeling of fear, dread, and shock. : the quality of something that causes feelings of fear, dread, and shock : the horrible or shocking quality or character of something. : something that causes feelings of fear, dread, and shock : something that is shocking and horrible.
</p>