<p class="paragraph first-home-para romance">
    this is the poetry section.. come.. take a sit.. grab a cup of coffee and enjoy reading other people <b>feelings.</b>
    <br>
    what is poetry..?
    <br>
    Poetry is a form of art - writing a literary work, in which the aesthetic qualities of language are used in addition to or in its literal meaning. This usage may include writing in cropped lines (as opposed to prose); Engaging in melody, weight, repetitive chorus and rhyme; Writing in pictorial (figurative) language; And other literary techniques, which are not common in prose and other types of literature.
</p>
