<p class="paragraph first-home-para romance">
    this is the romance section.. the optimistic category of all time, where couples of all kinds having their adventure during the story, where you winning to having a taste of what <b>pure love</b> is..
    <br>
    what is romance..?
    <br>
    A romance is a relationship between two people who are in love with each other but who are not married to each other. ... Romance refers to the actions and feelings of people who are in love, especially behaviour which is very caring or affectionate.
</p>
