.rect1{
    width: 700px;
    height: 1800px;
    background-color: $text-color;
    transform: rotate(30deg);
    z-index: -1;
    position: absolute;
    top: 0;
}

.rect2{
    width: 1700px;
    height: 2100px;
    background-color: $rect-color;
    transform: rotate(30deg);
    z-index: -1;
    position: absolute;
    top: -150px;
    left: 250px;
}