.open-book{
    width: 350px;
    height: 100%;
    margin-right: 30px;
    align-self: center;
    z-index: 101;
    opacity: 0.8;
}

.third-img{
    width: 350px;
    margin-right: 100px;
}